// "out": true
#main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #fafafa;
    color: #4b4f54;
}
.ig-user {
    display: flex;
    align-items: center;
}
.ig-profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #cccfd0;
    margin-right: 30px;
}
.ig-username {
    font-size: 34px;
    font-weight: 300;
}
.ig-user-bio,
.ig-user-stats {
    font-size: 17px;
    margin-top: 14px;
}
.ig-user-stats-number {
    font-weight: 600;
}
#ig-data {
    margin-top: 30px;
}
