// "out": true
@import (reference) "global.less";
#header {
    background-color: white;
    border-bottom: 1px solid @neutral-color-medium;
    color: @primary-color;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 26px 15px;
}
.logo {
    font-family: Allura;
    font-size: 20px;
    font-weight: bold;
}
.logout {
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: @primary-color-dark;
    }
}
