body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}
#header {
    background-color: #485165;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, .logout {
    display: inline-block;
    color: #ffffff;
}
.logo {
    font-family: Allura;
    font-size: 22px;
    padding: 0 15px;
}
.logout {
    cursor: pointer;
    padding: 15px;
}
#main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.ig-user {
    text-align: center;
}
.ig-profile-pic {
    height: 75px;
    width: 75px;
}
.ig-username {
    font-size: 24px;
}
#ig-data {
    margin-top: 30px;
}
